services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: postgres -c listen_addresses='*' -c shared_preload_libraries=pg_stat_statements
    networks:
      - backend-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 10

  tracking-service:
    build: ./tracking-service
    ports:
      - "8080:8080"
    networks:
      - backend-network
    depends_on:
      - postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

networks:
  backend-network:
    driver: bridge